{% extends 'partials/base.html' %}
{% block title %}Página de detalles del cliente{% endblock %}


{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                Detalles del cliente
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Información del perfil</span class="h4">
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ customers.username }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ customers.email }}</td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td>{{ customers.profile.phone }}</td>
                            </tr>
                            <tr>
                                <th>Direccion</th>
                                <td>{{ customers.profile.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ customers.profile.image.url }}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}